body{
    background:linear-gradient(to right, rgb(213, 224, 248),rgb(241, 244, 250));
}

.card{
    margin: 30px 0;
}



 
  #Loader-container {
    width: 80px; 
    height: 80px;
    border-radius: 5px;
    background-color: rgba(179, 177, 177, 0.409);
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center; 
     margin: auto; 
}



#image {
  width: 100%; /* Let the width take the full width of its parent */
  max-width: 200px; /* Set a maximum width for larger screens */
  height: auto; /* Keep aspect ratio */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image fits within the circular frame */
  box-shadow: grey 5px 2px 6px; /* Existing shadow */
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}


@media (max-width:768px){
  #image{
    border-radius: 0;
  }
}


@media (max-width:500px){

  #nav-bar-col-9{
    width: 100%;
  }

  #Cards{
    width: 100%;
  }

  #userID-posts{
    width: 100%;
  }
}